<script>
import FieldMixin from '@/mixins/field-mixin.js'

export default {
  name: 'C{{upperName}}',

  mixins: [FieldMixin],

  data() {
    return {
      value: '',
    }
  },

  render() {
    return <div></div>
  },
}
</script>
